.gallery-side-menu {
  background: #fff;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.1);
  font-family: "SoraMedium";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 90px;
  width: 250px;
  z-index: 998;

  .gallery-side-menu-header {
    align-items: center;
    border-bottom: 1px solid rgba(207, 217, 221, 0.6);
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .label {
      align-items: center;
      font-size: 14px;
      color: #16375b;
      display: flex;

      svg {
        margin-right: 12px;
        fill: #16375b;
      }
    }

    .icon {
      display: flex;

      svg {
        fill: #16375b;
      }
    }
  }

  .gallery-side-menu-body {
    .item {
      .item-toggle {
        align-items: center;
        border-bottom: 1px solid rgba(207, 217, 221, 0.6);
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .label {
          align-items: center;
          font-size: 14px;
          color: #16375b;
          display: flex;
        }

        .icon {
          display: flex;
          transform: rotate(90deg);

          svg {
            fill: #16375b;
          }
        }
      }

      .item-menu {
        background: #fbfcfd;
        border-bottom: 1px solid rgba(207, 217, 221, 0.6);
        color: #16375b;
        display: none;
        font-size: 14px;
        padding: 20px;

        .item-checkbox {
          align-items: center;
          font-size: 12px;
          display: flex;
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }

          svg {
            fill: #16375b;
            font-size: 14px;
            margin-right: 8px;
          }
        }
      }

      &.active {
        .item-toggle {
          .icon {
            transform: rotate(-90deg);
          }
        }
        .item-menu {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}