.gallery-filters-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1350px;

  .group {
    align-items: center;
    display: flex;
  }

  .tab {
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    color: #16375b;
    display: flex;
    font-family: "SoraMedium";
    font-size: 14px;
    text-align: center;
    height: 45px;
    justify-content: center;
    margin: 5px;
    transition: 0.3s;
    white-space: nowrap;
    width: 160px;

    &:hover {
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: 0.3s;
    }

    svg {
      margin-right: 8px;
    }

    .count {
      margin-left: 8px;
    }

    &.active {
      background: #16365a;
      color: rgba(255, 255, 255, 0.9);
      transition: 0.3s;
    }
  }

  .filter {
    display: flex;
    margin: 5px;
    position: relative;

    svg {
      opacity: 0.3;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      align-items: center;
      background: #dce1e7;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #11273f;
      display: flex;
      font-family: "MontserratRegular";
      font-size: 14px;
      height: 45px;
      min-width: 250px;
      padding: 0 45px 0 20px;
      transition: 0.3s;

      &:focus,
      &:focus-visible {
        border: 1px solid rgba(17, 39, 63, 0.2);
        box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
        outline: none;
        transition: 0.3s;
      }

      &::placeholder {
        opacity: 0.8;
      }
    }
  }
}