.nft-item {
  background: #fff;
  border: 1px solid #cfd9dd;
  border-radius: 10px;
  box-shadow: 0px 2px 5.9px 0.1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 278px;
  min-width: 278px;
  padding: 20px;

  @media screen and (max-width: 767px) {
    max-width: 238px;
    min-width: 238px;
  }

  .nft-item-title {
    align-items: center;
    color: #11273f;
    display: flex;
    font-family: "SoraMedium";
    font-size: 14px;
    justify-content: center;
    line-height: 1.43;
    margin-bottom: 16px;
    min-height: 80px;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
  }

  .nft-item-top-info {
    align-items: center;
    border-bottom: 1px solid #e2e8eb;
    border-top: 1px solid #e2e8eb;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 8px 0;

    .group {
      align-items: center;
      display: flex;

      &:first-child {
        margin-right: 20px;
      }
    }

    .category {
      border-radius: 4px;
      box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
      color: #fff;
      display: flex;
      font-size: 10px;
      padding: 6px 8px;
      width: fit-content;
      text-align: center;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      text-transform: capitalize;

      &.biology {
        background: #afd275;
      }

      &.physics {
        background: #e7717d;
      }

      &.chemistry {
        background: #8fc1e3;
      }
    }

    .verified-user {
      display: flex;
      margin-right: 2px;

      img {
        height: 22px;
        width: auto;
      }
    }

    .like-button {
      display: flex;

      img {
        height: 24px;
        width: auto;
      }
    }
  }

  .nft-item-bottom-info {
    .group {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      .info-label {
        color: rgba(62, 75, 91, 0.75);
        font-size: 12.5px;
        line-height: 1.4;
        text-align: left;
      }

      .price-info {
        color: #11273f;
        font-family: "SoraBold";
        font-size: 12px;
        line-height: 1.4;
        position: relative;
        text-align: right;

        .to-dollars {
          font-family: "MontserratRegular";
          position: absolute;
          right: 0;
          top: 100%;
        }
      }

      .author {
        align-items: center;
        color: #11273f;
        display: flex;
        font-family: "SoraBold";
        font-size: 12px;
        line-height: 1.4;
        text-align: right;

        .author-image {
          background: #fff;
          border-radius: 50%;
          box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
          height: 25px;
          margin-right: 8px;
          width: 25px;

          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
      }
    }
  }
}