---
http_interactions:
- request:
    method: post
    uri: https://orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: client_id=APP-X7HXKA3BRNVNC4LP&client_secret=c7335782-da19-4ad2-aab1-abd088a4199c&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A3001%2Fsign_in&code=ynPqD_
    headers:
  response:
    status:
      code: 200
      message: Ok
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Www-Authenticate:
      - 'Bearer realm="orcid", error="invalid_client", error_description="Client not
        found: APP-X7HXKA3BRNVNC4LP"'
    body:
      encoding: ASCII-8BIT
      string: '{"orcid": {"access_token": "702de872-b1df-4926-9f0d-f3da604f0720",
        "token_type": "bearer",
        "refresh_token": "bf2729b2-dc4b-496c-be3b-6b2a07019cd6",
        "expires_in": 631138518,
        "scope": "/authenticate",
        "name": "Thespian Agency",
        "orcid": "0000-0001-9349-4019" }}'
  recorded_at: Tue, 24 May 2022 12:40:01 GMT
recorded_with: VCR 6.1.0
