---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/simple/price?ids=cardano&include_24hr_change=false&include_24hr_vol=false&include_last_updated_at=true&include_market_cap=false&vs_currencies=usd,cad,eur,gbp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"00a8e0d6ebd1dd6685163b7bb0d048b6"
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      Alternate-Protocol:
      - 443:npn-spdy/2
      X-Datadome:
      - protected
    body:
      encoding: ASCII-8BIT
      string: '{"cardano":{"usd":0.587727,"cad":0.740198,"eur":0.550019,"gbp":0.470118,"last_updated_at":1654594495}}'
  recorded_at: Tue, 07 Jun 2022 09:36:27 GMT
recorded_with: VCR 6.1.0
