---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/simple/price?ids=cardano&include_24hr_change=false&include_24hr_vol=false&include_last_updated_at=true&include_market_cap=false&vs_currencies=usd,cad,eur,gbp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"511096a34b3ed486d1f97d96fecf8a8c"
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      Alternate-Protocol:
      - 443:npn-spdy/2
      X-Datadome:
      - protected
    body:
      encoding: ASCII-8BIT
      string: '{"cardano":{"usd":0.622509,"cad":0.780794,"eur":0.58081,"gbp":0.49593,"last_updated_at":1654521654}}'
  recorded_at: Mon, 06 Jun 2022 13:22:31 GMT
recorded_with: VCR 6.1.0
